body {
    font-family: latoregular, Helvetica, Arial;
    background-color: #EEEEEE;
}

#main {
    width: 800px;
    margin: 2em auto;
    padding: 0 2em;
}

#content {
    padding: 0 2em;
    border: 1px solid #AAAAAA;
    background-color: #FFFFFF;
    border: 1px solid black;
    clear: both;
    padding: 0 1em;
}

#chart_div {
    width: 750px;
    height: 750px;
}

#header ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#header li {
    float: left;
    border: 1px solid #BBBBBB;
    border-bottom-width: 0;
    margin: 0;
}

#header a {
    text-decoration: none;
    display: block;
    background: #EEEEEE;
    padding: 0.24em 1em;
    color: #0000CC;
    width: 12em;
    text-align: center;
}

#header a:hover {
    background: #DDDDFF;
}

#header #selected {
    border-color: black;
}

#header #selected a {
    position: relative;
    top: 1px;
    background: white;
    color: black;
    font-weight: bold;
}
